<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="style.css" type="text/css" media="all">
		<link rel="stylesheet" href="http://service.tartaglialab.com/static_files/styles/gtt_lab_styles.css" type="text/css" media="all" charset="utf-8">
		<link rel="stylesheet" href="http://service.tartaglialab.com/static_files/styles/jquery-ui-1.10.4.custom.css" type="text/css" media="all">
		<script src="http://service.tartaglialab.com/static_files/js/jquery-1.11.0.js" type="text/javascript"></script>
		<script src="http://service.tartaglialab.com/static_files/js/jquery.tablesorter.js" type="text/javascript"></script>
		<script src="http://service.tartaglialab.com/static_files/js/jquery-ui-1.10.4.custom.js" type="text/javascript"></script>		
	</head>
	<body>
    <!-- security start -->      
    <script language="javascript" type="text/javascript" src="http://service.tartaglialab.com/static_files/js/md5-min.js"></script>        
    <script language="javascript" type="text/javascript" src="http://service.tartaglialab.com/static_files/js/parseuri.js"></script>
    <style type="text/css">
    body {
        /*hide main content */
        display:none;        
    }
    </style>        
    <script type="text/javascript" charset="utf-8">
        // get pathname
        var pathname = String(window.location.pathname.split("/").slice(0, -1).join("/"))
        var fullurl = String(window.location)
        var passKey = String(parseUri(fullurl).queryKey["unlock"].slice(0, 10))
        try {
            if (parseUri(fullurl).queryKey["unlock"].slice(0, 10) == hex_md5(pathname).slice(0, 10)) {
                $().ready(function() {
                    $("body").show()
                    $("body").css("display", "block");
                })            
            } else {
                $().ready(function() {
                    $("body").empty()
                    $("body").show()
                    $("body").html("Unauthorised access - please contact administrator with current URL to restore access to the submission")
                })  
            }
        } catch (err) {
            $().ready(function() {
                $("body").empty()
                $("body").show()
                $("body").html("Unauthorised access - please contact administrator with current URL to restore access to the submission")
            })   
        }
    </script>
    <!-- security end -->
    <script>
		$(document).ready(function() {
			$('#table').tablesorter({
				widgets: ['zebra'],
				widgetZebra: {css: ["NormRow","AltRow"]} // css classes to apply to rows
			});
		});
		$(document).ready(function() {
			$('#infos').tooltip();
		});

		$(document).ready(function() {
			$('#table').tooltip();
		});
	</script>

	<div id="topbar">
		<div id="home_panel">
		<p><a href="http://service.tartaglialab.com/">Portal Home</a></p>
		</div>
		<div id="title_server">
			<h1>SeAMotE</h1>
		</div>
		<div id="navbar_server">
			<h3>[ 
						<a target="" href="http://service.tartaglialab.com/new_submission/seamote">SeAMotE Home</a>
						 - 
						<a target="" href="http://service.tartaglialab.com/static_files/shared/tutorial_seamote.html">Tutorial</a>
						 - 
						<a target="" href="http://pasteur.crg.es/portal/page/portal/827A462EAB6802B3E04012AC0E01291B">Group page @ CRG</a>
			 ]</h3>
		</div>
	</div>
	<div id="welcome_server">
        
    <div id="infos" >
    	<h2>Your submission results</h2><br />
        <span id="submission_info">
			<h4>Information about the JOB:</h4>
			<p>
			ID: <span title="The unique identifier of this job submission">{{randoms}}</span><br />
			User label: {{title}}<br />
			DatasetA: <a href="positive.seq" title="The foreground dataset">PositiveSet</a><br />
			DatasetB: <a href="reference.seq" title="The background dataset">ReferenceSet</a><br />
			Reference: <span title="The type of the backgroud dataset selected for this submission">{{myRef}}</span><br />
			Nucleic Acid: <span title="The type of nucleic acid selected for this submission">{{useRev}}</span><br />
			Generated: <span title="Information on the completion of this job">{{generated}}<br />
			</p>
       </span>
        <br />
        <div>            
            <div style="float:left;width:940px;">          
 
                <h3 style="color:black" >
<!--               	<a href="download.html" onclick="location.href=this.href+'?unlock='+passKey;return false;"><span class="tooltip" onmouseover="tooltip.pop(this, 'Where it is possible to download motif logos, PWMs and TRANSFACTOR notation files', {position:0, overlay:false, offsetX:0, effect:'slide'})">Download Page</span></a>
                	<br />or<br />
 -->
                    <a href="best_motifs.txt" title="Download the table content as a text file">Download the table</span></a>
                </h3>
            	<br>
 				<table cellpadding="0" cellspacing="0" border="0" id="table" class="tablesorter"> 
 					<thead><tr>
							<th data-sort="int"><h3 class="mySort">#</h3></th>
							<th data-sort="string"><h3 class="mySort">Motif</br>(IUPAC)</h3></th>
							<th data-sort="string"><h3 class="mySort">Motif</br>(RegEx)</h3></th>
							<th class="nosort"><h3 class="logo" title="The logo is generated using R (seqLogo package)">Logo</br>(png)</h3></th>
							<th class="nosort"><h3 class="pwm" title="The positional weighted matrix is generated using R (Biostring package)">PWM</br>(txt)</h3></th>
<!-- 						<th data-sort="int"><h3><span class="tooltip" onmouseover="tooltip.pop(this, 'Number of sequences with at least one motif', {position:0, overlay:false, offsetX:0, effect:'slide'})">Positive</br>Count</span></h3></th>
							<th data-sort="int"><h3><span class="tooltip" onmouseover="tooltip.pop(this, 'Number of sequences with at least one motif', {position:0, overlay:false, offsetX:0, effect:'slide'})">Reference</br>Count</span></h3></th> -->
							<th data-sort="int"><h3 class="mySort" title="Percentage of foreground sequences with at least one motif">Positive</br>Coverage (%)</span></h3></th>
							<th data-sort="int"><h3 class="mySort" title="Percentage of background sequences with at least one motif">Reference</br>Coverage (%)</span></h3></th>
							<th data-sort="int"><h3 class="mySort" title="Youden&apos;s Index">Discrimination (%)</span></h3></th>
							<th data-sort="float"><h3 class="mySort" title="Fisher&apos;s Exact Test">P-value</span></h3></th>
						</tr>
					</thead>
					<script type="text/javascript">
						var ajaxRq = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Msxml2.XMLHTTP");
						ajaxRq.open("GET", "table.html", false);
						ajaxRq.send(null);
						document.write(ajaxRq.responseText);
					</script>
				</table> 
				<script type="text/javascript">
					// add parser through the tablesorter addParser method 
					$.tablesorter.addParser({ 
						// set a unique id
						id: 'scinot', 
						is: function(s) { 
							return /[+\-]?(?:0|[1-9]\d*)(?:\.\d*)?(?:[eE][+\-]?\d+)?/.test(s); 
						}, 
						format: function(s) { 
							return $.tablesorter.formatFloat(s);
						}, 
						type: 'numeric' 
					});
				</script>				
            </div>
            <div style="clear:both;">
            <br>
        </div>
        
    </div>
    	<div id="footer_main">
    		<hr>
			<p>&copy; 2012 - <a href="http://big.crg.cat/gene_function_and_evolution" target="_blank">Gene Function and Evolution</a> - <a href="http://www.crg.eu" target="_blank">Center for Genomic Regulation (CRG)</a></p>
    	</div>
    </div>
</body>
</html>
